@font-face {
  font-family: "ClimateCrisisKR-1979";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "LeeSeoyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
h1,
h2,
p {
  margin: 0;
}
body {
  background: #c4d9b0;
}
button {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0;
  background: inherit;
}
input {
  background: inherit;
  border: 0;
  border-bottom: 1px solid #bdbdbd;
}
textarea {
  background: inherit;
  border: 1px solid #bdbdbd;
}
main {
  padding: 30px 0;
}
h1 {
  font-family: "ClimateCrisisKR-1979";
  width: 500px;
  font-size: 60px;
  background: #fdf7bc;
  color: rgb(34, 32, 32);
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.btn-add img {
  width: 45px;
  height: 45px;
}
.container {
  display: grid;
  padding: 50px 80px;
  grid-template-columns: repeat(5, 300px);
  gap: 50px;
}
.memo {
  font-family: "LeeSeoyun";
  line-height: 17px;
  width: 300px;
  height: 300px;
  background-color: #fdf7bc;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px -5px #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  color: rgb(34, 32, 32);
}
.form-memo {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.form-memo textarea {
  height: 206px;
  width: 263px;
}
.content-memo {
  height: 189px;
  overflow: auto;
}
.btn-save {
  font-family: "ClimateCrisisKR-1979";
  letter-spacing: 2px;
  font-size: 16px;
  background: #86b583;
  color: #fff;
  width: 170px;
  padding: 5px;
  align-self: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.btn-delete {
  font-family: "ClimateCrisisKR-1979";
  letter-spacing: 2px;
  font-size: 16px;
  align-self: center;
  width: 170px;
  padding: 7px;
  background: #86b583;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.color1 {
  background: #d2dbe8;
}
.color2 {
  background: #ffe5eb;
}
.color3 {
  background: #e8f2de;
}
.color4 {
  background: #fdf7bc;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .container {
    padding: 50px;
    grid-template-columns: repeat(4, 300px);
    gap: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 50px 15px;
    grid-template-columns: repeat(3, 300px);
    gap: 25px;
  }
}
@media (min-width: 501px) and (max-width: 768px) {
  .container {
    padding: 50px 30px;
    grid-template-columns: repeat(2, 320px);
    gap: 40px;
  }
}
@media (max-width: 500px) {
  .container {
    padding: 50px 30px;
    grid-template-columns: 300px;
    justify-content: center;
  }
}
